html {
    color: white;
    font-size: 1vw; 
    font-family: "Open Sans", sans-serif;
    background-color: rgb(31, 31, 31);
}

body {
    margin: 10%
}
/* HEADER */
header {
    text-align: center;
    color: white;
}
h1 {
    font-size: 100px;
    font-family: 'Inconsolata', monospace;
}

.message {
    font-size: 2vw
}

.commentBox {
    box-shadow:0px -5px 10px 0px rgba(124, 124, 124, 0.5);
    padding: 1%;
    margin: 1%;
    background-color: rgb(26, 26, 26);
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px white;
}